<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--    BootStrap Library-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!--    JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>


</head>
<style>

</style>
<script>
    //html을 테스트하는 파일입니다.
    function _1() {
        console.log("_1");
    }

    function _2() {
        console.log("_2");
    }

    function _3() {
        console.log("_3");
    }

    function _4() {
        console.log("_4");
    }

    function _5() {
        const val1 = $('#input_box1').val()
        const val2 = $('#input_box2').val()

        console.log(val1);
        console.log(val2);
    }

    function post_api_post() {
        const title = $('#title').val()
        const artist = $('#artist').val()
        const showDate = new Date()
        const description = $('#description').val()
        const img = $('#img').val()

        $.ajax({
            type: "POST",
            url: `/api/post`,
            data: {title, artist, showDate, description, img},
            success: function (response) {
                console.log(`/api/post ajax Success`);
            },
            error: function (error) {

            },
        });
    }

    function get_api_search() {
        const keyword = $('#keyword').val()
        $.ajax({
            type: "GET",
            url: `/api/search`,
            data: {keyword},
            success: function (response) {
                console.log("Success get_api_search");
            },
            error: function (error) {

            },
        });
    }
    function file_upload() {


    }

</script>

<body>
<div>
    <button onclick="_1()" type="button" class="btn btn-primary">1</button>
    <button onclick="_2()" type="button" class="btn btn-secondary">2</button>
    <button onclick="_3()" type="button" class="btn btn-success">3</button>
    <button onclick="_4()" type="button" class="btn btn-danger">4</button>


    <button onclick="_5()" type="button" class="btn btn-warning">5</button>
    <button onclick="post_api_post()" type="button" class="btn btn-info">post_api_post</button>
    <button onclick="get_api_search()" type="button" class="btn btn-light">get_api_search</button>
    <button onclick="file_upload()" type="button" class="btn btn-dark">file_upload</button>
</div>

<div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input id="input_box1" type="text" class="form-control" aria-label="Username"
               aria-describedby="basic-addon1">
    </div>


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2">@</span>
        </div>
        <input id="input_box2" type="text" class="form-control" aria-label="Username"
               aria-describedby="basic-addon1">
    </div>


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">keyword</span>
        </div>
        <input id="keyword" type="text" class="form-control" aria-label="Username"
               aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">title</span>
        </div>
        <input id="title" type="text" class="form-control" aria-label="Username"
               aria-describedby="basic-addon1"
               value="보헤미안 렙소디">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">artist</span>
        </div>
        <input id="artist" type="text" class="form-control" aria-label="Username"
               aria-describedby="basic-addon1"
               value="QUEEN">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">showDate</span>
        </div>
        <input id="showDate" type="date" class="form-control" aria-label="Username"
               aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">description</span>
        </div>
        <input id="description" type="text" class="form-control" aria-label="Username"
               aria-describedby="basic-addon1"
               value="70년만에 돌아온 그들이 온다 <QUEEN> ">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">img</span>
        </div>
        <input id="img" type="text" class="form-control" aria-label="Username"
               aria-describedby="basic-addon1"
               value="https://img8.yna.co.kr/photo/yna/YH/2018/12/17/PYH2018121701180000500_P4.jpg">
    </div>

    <div>
        <input id="file" type="file">
    </div>


</div>

</body>
</html>

