<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--    BootStrap Library-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!--    JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>


</head>
<style>

</style>
<script>
    //html을 테스트하는 파일입니다.
    function _1() {
        console.log("_1");
    }

    function _2() {
        console.log("_2");
    }

    function _3() {
        console.log("_3");
    }

    function _4() {
        console.log("_4");
    }

</script>

<body>
<div>
    <button onclick="_1()" type="button" class="btn btn-primary">1</button>
    <button onclick="_2()" type="button" class="btn btn-secondary">2</button>
    <button onclick="_3()" type="button" class="btn btn-success">3</button>
    <button onclick="_4()" type="button" class="btn btn-danger">4</button>


    <button type="button" class="btn btn-warning">5</button>
    <button type="button" class="btn btn-info">6</button>
    <button type="button" class="btn btn-light">7</button>
    <button type="button" class="btn btn-dark">8</button>
</div>

<div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input id="input_box1" type="text" class="form-control" placeholder="Username" aria-label="Username"
               aria-describedby="basic-addon1">
    </div>


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2">@</span>
        </div>
        <input id="input_box2" type="text" class="form-control" placeholder="Username" aria-label="Username"
               aria-describedby="basic-addon1">
    </div>


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">@</span>
        </div>
        <input id="input_box3" type="text" class="form-control" placeholder="Username" aria-label="Username"
               aria-describedby="basic-addon1">
    </div>


</div>

</body>
</html>

